@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, form, blockquote, dl, dd, pre {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #596063;
}
button, th, td {
	padding: 0;
}
ul, ol, textarea, input {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
fieldset, img {
	border: 0;
}
select, input, img, select {
	vertical-align: middle;
}
.center {
	width: 100%;
	padding: 0;
}
.right {
	float: left;
	width: 200px;
}
.pro-item{
   padding-top:5px;
}
.pro-item span {
	color: #cc0033;
}
.pro-item ul {
	background-color: #FFFFFF;
	list-style: none;
	width: 200px;
	border: 1px #d1e0ea solid;
	border-top: none;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.pro-item ul li {
	border-bottom: 1px #d1e0ea solid;
}
.pro-item ul li a {
	color: #596063;
	display: block;
	padding: 17px 0 11px 12px;
	text-decoration: none;
}
.pro-item ul li:hover,
.pro-item ul li a:hover {
	background-color: #bac2d1;
	color: #FFF
}

.left {
	width: auto;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	overflow: hidden;
}
.hi {
	min-width: 100%;
	margin: 5px 10px 0px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #e7f2fa;
	color: #2b4d77;
	font-size: 14px;
	padding: 10px 0 10px 15px;
	text-shadow: 1px 1px #DCEEF7;
	border: 1px #d1e0ea solid;
}
.box_left {
	width: 49%;
	float: left;
}
.box_right {
	width: 49%;
	float: left;
	margin-left: 10px;
}
.bg1 {
	width: 100%;
	float: left;
}
.table {
	width: 100%;
	text-align: left;
}
.table th, .table td {
	padding: 13px 12px;
	cursor: pointer;
}
.table tbody tr:nth-child(2n+1) {
	background-color: #eff4f8;
}
.btzt {
	color: #b5b5b5;
	font-weight: bold;
}
.ntrq {
	color: #b5b5b5;
}
.sjlb {
	width: 100%;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	float:left;
}
.sjlb li {
	list-style: none;
	width: 30%;
	margin: 10px;
	float: left;
}
.ico1 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico1.gif);
}
.ico1 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico1_.gif);
}
.ico2 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico2.gif);
}
.ico2 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico2_.gif);
}
.ico3 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico3.gif);
}
.ico3 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico3_.gif);
}
.ico4 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico4.gif);
}
.ico4 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico4_.gif);
}
.ico5 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico5.gif);
}
.ico5 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico5_.gif);
}
.ico6 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico6.gif);
}
.ico6 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico6_.gif);
}
.ico7 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico7.gif);
}
.ico7 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico7_.gif);
}
.ico8 a {
	width: 61px;
	height: 61px;
	background: url(../images/ico8.gif);
}
.ico8 a:hover {
	width: 61px;
	height: 61px;
	background: url(../images/ico8_.gif);
}

.an-font{
    padding-right:5px;
}
.ico1 span.an-font {
	color: #2091cf;
}
.ico2 span.an-font {
	color: #88cbe5;
}
.ico3 span.an-font {
	color: #9abc32;
}
.ico3 span.an-font {
	color: #9966cc;
}
.ico5 span.an-font {
	color: #eca046;
}
.ico6 span.an-font {
	color: #bc3f1d;
}
.ico7 span.an-font {
	color: #eae371;
}
.ico8 span.an-font {
	color: #ff704a;
}
.sjlb_wz {
	font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}
.sjlb>li>div>a {
	display: inline-block;
}
.sjlb>li>div {
	text-align: center;
}
.pull-right{ 
	float:right;
	}
.pageMore {
	margin-right:15px;
}
.pageMore a {
	color:#2b4d77;
	text-decoration: none;
}
.mySearch {
	background:url(../images/subSearchBg.png) no-repeat;
	display: inline-block;
	height: 24px;
	margin-left:10px;
	width:190px;
}
.mySearch input {
	vertical-align: middle;
	border: medium none;
	height: 22px; 
	float:left;
	margin:1px 0px 0px 5px;
	width:150px;
}
.mySearch i {
	background:url(../images/subSearch.png) no-repeat;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 20px;
	cursor: pointer;
	padding:2px 0px 0px 0px;
} 
.table2{ width:100%;}
.table2 td{ border:1px  #d1e0ea solid;}
.mouseOver {
	background-color: #e0eaf2 !important;
	color: #003366 !important;
	font-weight:bold !important;
}
.mouseOver td {
	background-color: #e0eaf2 !important;
	color: #003366 !important;
	font-weight:bold !important;
}
[class^="myIcon"] {
	padding-left: 25px !important;
	margin-left:10px !important;
}
.myIcon-wy{
	background:url(../images/wy.png) left center no-repeat;
}
.myIcon-db{
	background:url(../images/db.png) left center no-repeat;
}
.myIcon-yj{
	background:url(../images/yj.png) left center no-repeat;
}
.myIcon-bmyj{
	background:url(../images/bmyj.png) left center no-repeat;
}
.myIcon-wb{
	background:url(../images/wb.png) left center no-repeat;
}
.myIcon-wy:hover{
	background:url(../images/wy-on.png) left center no-repeat #bac2d1 !important;
}
.myIcon-db:hover{
	background:url(../images/db-on.png) left center no-repeat #bac2d1 !important;
}
.myIcon-yj:hover{
	background:url(../images/yj-on.png) left center no-repeat #bac2d1 !important;
}
.myIcon-bmyj:hover{
	background:url(../images/bmyj-on.png) left center no-repeat #bac2d1 !important;
}
.myIcon-wb:hover{
	background:url(../images/wb-on.png) left center no-repeat #bac2d1 !important;
}