.sf-menu {
	margin-bottom: 0;
}

.sf-menu a {
	color: #333;
	border: none;
}

.sf-menu li {
	background: white;
}
.sf-menu ul li {
	background: #f8f8f8;
}

.sf-menu ul ul li {
	background: #f8f8f8
}

.sf-menu >li >a >i.icon {
	position: static;
}
.sf-menu i.icon {
	position: absolute;
	top: 10px;
	right: 4px;
}

.sf-menu .down {
	position: fixed;
}

.functreemenu .wrap {
	margin: 0 32px;
}

.functreemenu .caroufredsel_wrapper {
	/*overflow: visible!important;*/
}

.functreemenu .prev,
.functreemenu .next {
	margin-top: 0px;
	width: 20px;
	height: 14px;
}

.functreemenu .prev i,
.functreemenu .next i{
	font-size: 20px;
}

.functreemenu .prev {
	margin-left: 18px;
	float: left;
}

.functreemenu .next {
	margin-left: 40px;
	float: left;
}

.functreemenu .sf-menu li:hover > ul,
.functreemenu .sf-menu li.sfHover > ul {
	display: none;
}

.functreemenu .open li:hover > ul,
.functreemenu .open li.sfHover > ul {
	display: block;
}

