.scrollbar {
	border: 0;
	border-bottom: 1px solid gainsboro;
	position: relative;
	background-color: white;/*#95c615;*/
	position: relative;
}

.scrollbar .empty {
	display: block;
	font-size: 16px;
	font-family:\9ED1\4F53;
	color: #888;
	margin: 0 0 20px 0;
}

.scrollbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.scrollbar ul li{
	display: block;
	background:url("../../index/images/navBg.png") no-repeat right center !important;
	line-height: 26px;
	padding: 0 8px;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 3px;
}

.scrollbar ul li a{
	cursor: pointer;
	text-decoration: none;
	color: #444;
	margin: 4px 0;
	line-height: 18px;
	display: table-cell;
    height: 40px;
    padding-left: 30px;
    vertical-align: middle;
}

.scrollbar ul li span {
	display: none;
}
	
.scrollbar ul li .move, 
.scrollbar ul li .delete {
	height: 0px;
	width: 16px;
	padding-top: 16px;
	margin: 4px 0 0 7px;
}

.scrollbar ul li .move {
	background-image: url(./images/move.png);
}

.scrollbar ul li .delete {
	background-image: url(./images/blog_app.png);
	background-position: -665px -18px;
}

.scrollbar .config-btn {
	display: block;
	position: absolute;
	z-index: 10;

	right: 45px;
	top: 15px;
	width: 18px;
	height: 0;
	padding-top: 16px;
	overflow: hidden;
	
	background-image: url(./images/gb_toolbar_import.png);
	background-position: -200px 0;
	
}

.scrollbar .config-btn[set=on] {
	background-position: -200px -17px;
}

.scrollbar .close-btn {
	display: block;
	position: absolute;
	z-index: 10;

	right: 16px;
	top: 14px;
	width: 18px;
	height: 0;
	padding-top: 18px;
	overflow: hidden;
				
	background-image: url(./images/sprite-8bit.png);
	background-position: 0 58px;
}

.scrollbar .fixed {
	float:left;
}

.scrollbar .wrap {
	background-color: #eceff4;
}

.scrollbar .other {
	height: 40px;
}

.scrollbar .prev,
.scrollbar .next {
	margin-top: 6px;
	width: 14px;
	height: 14px;
}

.scrollbar .prev {
	float: left;
}

.scrollbar .next {
	float: right;
}