.tab{
	height: 100%;
	position: relative;
}
.tab .tab-content{
	height: 100%;
	margin-right: 120px;
	min-width: 620px;
}
.tab >ul {
	display: block;
	color: white;
	float: right;
	width: 120px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left:15px;
}

.tab >ul li {
	position: relative;
	border-bottom: 1px solid #ccc;
}

.tab >ul li span {
	display: none;
	position: absolute;
	height: 36px;
	width: 16px;
	left: -16px;
	background: url(./images/tab-left.png) no-repeat;
}

.tab >ul li a {
	display: inline-block;
	width: 88px;
	text-decoration: none;
	color: #777;
	padding: 10px 16px;
}

.tab >ul .on a{
	background-color: #54B3F3;
	color: #fff;
}

.tab >ul .on span{
	display: block;
}


